.dropdown {
    position: relative;
    display: inline-block;
}

input {
    cursor: pointer;
    width: 20em;
}

.dropdown-menu {
    display: block;
    position: absolute;
    border: 1px solid grey;
    background: white;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    z-index: 100;
}

.dropdown-item {
    
}