.canvas-body {
	margin: 1%;
}

.palette {
	float: left;
}

.colorOption {
	height: 20px;
	width: 20px;
	border: 1px solid black;
	margin-right: 1px;

}

.submit_button {
	font-size: 1em;
}

.canvas {
    aspect-ratio: auto 700 / 500;
	border: 5px solid black;
	display: inline-block;
	/* z-index: -1; */
}

.dot {
	background-color: black;
	border-radius: 50%;
	display: inline-block;
	margin:5px;
}

.canvas-wrapper {
	position: relative;
}

.details-section {
	width: fit-content;
}

.textarea {
	height: 5em;
	width: 25em;
}

.controls {
	margin: 2%;
}